<style>
  .row {
    display: flex;
    height: 500px;
    /* position: absolute;
    height: 98%; */
  }

  .column {
    float: left;
    border: 1px solid black;
  }

  .column1 {
    min-width: 200px;
    max-width: 200px;
  }

  .column2 {
    min-width: 100px;
    /* width: 100%; */
    width: auto;
    flex-grow: 1;
  }

  .column3 {
    min-width: 300px;
    max-width: 300px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>

<!-- Toolbar -->
<div class="row">
  <div class="column column1">
    <input type="text" id="numberInputId" name="numberInput" [ngModel]="data.inputNumber" (ngModelChange)="onChangeInputNumber($event)">
  </div>
  <div class="column column2">
    <select name="operationInput" id="operationInputId" [ngModel]="data.selectedOperation" (ngModelChange)="onChangeSelectedOperation($event)">
      <option value="isPrime">isPrime</option>
      <option value="isFibanacci">isFibanacci</option>
    </select>
  </div>
  <div class="column column3">
    {{ data.answer }}
  </div>
</div>

<router-outlet></router-outlet>